* {
  margin: 0;
  padding: 0;
}

body {
background: #ccc;
}

.header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: transparent;
  position: fixed;
  top: 5rem;
  left: 0;
}

.header .projects__nav {
  text-decoration: none;
  color: #2c2c2c;
  font-size: 15px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 15px black;
}

/* .before {
  margin-right: 20px;
} */