
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: auto 5rem;
  margin: 5rem auto;
  text-align: center;
  border: 1px solid gray;
  box-shadow: 5px 5px 15px black;
  border-radius: 15px;
  padding-inline: 10px;
}

select {
  margin-bottom: 15px;
  padding: 5px 10px;
  text-transform: capitalize;
  font-weight: bold;
  padding: 5px;
  border: none;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

select:hover {
  color: gray;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 6px;
}

.result {
  font-weight: bold;
  color: orangered;
  text-transform: capitalize;
  font-size: 20px;
  transition: .3s ease-in-out;
}

#button {
  padding: 7px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-block: 16px;
  font-weight: bold;
  color: #444;
  transition: .3s ease-in-out;
  text-transform: capitalize;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

#button:hover {
  color: black;
  box-shadow: 0 6px 15px  rgba(0, 0, 0, .8);
}